.container__nature-end {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}

.efeito-container-end, .efeito-txt-end {
    visibility: hidden;
}

.nature-end-img img {
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.509) 0px 5px 15px;
}

.nature-end-txt {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nature-end-txt h3 {
    font-size: 3em;
    color: #42b883;
}

.nature-end-txt p {
    font-size: 1.5em;
}

.nature-end-txt ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 20%;
}

.nature-end-txt img {
    color: white;
    width: 40px;
}

