.container__nature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 70px 0;
}

.efeito-card1, .efeito-card2, .efeito-card3 {
    visibility: hidden;
}

.container__nature-card {
    width: 400px;
    padding: 1.2em 1.2em;
    background-color: #295f4e;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-nature {
    width: 150px;
    height: 150px;
}

.titulo-nature {
    font-size: 1.7em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
}

.texto-nature {
    font-size: 1.5em;
    letter-spacing: 1px;
    color: white;
}